* {
  margin: 0px;
  padding: 0px;
}

.nav-bar ul {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  list-style: none;
  justify-content: center;
  color: rgb(10, 10, 10);
  font-size: larger;
  font-weight: bolder;
  padding: 20px;
  margin: 0;
  background-color: rgb(238, 203, 203);
}
.box {
  /* border: 1px solid red; */
  /* height: 500px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sub-box1 {
  /* border: 1px solid rgb(10, 10, 10); */
  background-color: #f8f3f3;
  width: 400px;
  height: 400px;
  margin: auto 0px;
}
.header {
  height: 300px;
  background-color: rgb(177, 177, 247);
}
.header h1 {
  text-align: center;
  padding: 100px;
  margin: 0;
}

.Grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-box {
  border: 1px solid rgb(18, 19, 18);
  padding: 100px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: aquamarine;
  margin: 0;
}
.Signup {
  background-color: rgb(240, 240, 54);
  margin: 0px;
}
.Signup h1 {
  margin: 0;
  text-align: center;
  padding: 50px;
}
.Content {
  background-color: rgb(74, 173, 240);
  margin: 0px;
}
.Content h1 {
  margin: 0;
  text-align: center;
  padding: 50px;
}
/* ......medisquery..... */

@media (max-width: 500px) {
  .nav-bar ul {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0px;
  }

  .Grid {
    grid-template-rows: auto auto auto;
    grid-template-columns: none;
  }
}
@media (max-width: 768px) {
  .grid-box {
    padding: 80px;
  }
}
